$color-text:black;
$color-fon:red;

@mixin text {
    font-family: "amsterdam";
    font-style: "regular";
    font-size: 150%;
    color: $color-text;
}




@font-face {
    font-family: 'amsterdam';
    src: url(./font/amsterdam.otf) format("opentype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("./font/open-sans.ttf") format("truetype");
}

@font-face {
    font-family: 'AdineKirnberg';
    src: url("./font/adine-kirnberg.ttf") format("truetype");
}

@font-face {
    font-family: 'SchoolBook';
    src: url("./font/schoolbook.ttf") format("truetype");
}

#header {
    display: inline-block;
    z-index: 10;

    .row {
        .part_1 {
            .form-inline {
                margin-top: 5%;
                margin-left: 5%;
            }
        }

        .part_2 {
            img {
                margin-left: 50%;
            }

            .text_header {
                margin-left: 30%;
                font-family: 'SchoolBook';
                font-style: 'regular';
            }
        }
    }

    .part_3 {
        .nav {
            margin-left: 80%;
            width: 20%;
        }
    }
}

#menu {
    display: inline-block;
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: white;

    .nav {
        margin-left: 43%;

        .text_nav {
            color: $color-text;
            text-decoration: none;
            font-family: 'AdineKirnberg';
            font-style: 'regular';
            font-size: 230%;
        }
    }
}


#authorization {
    display: inline-block;
    margin-top: 10%;

    #form {
        margin-left: 25%;
        border: 2px solid black;
        width: 50%;
        height: auto;
    }
}


#footer {
    margin-top: 6%;
    background-color: $color-fon;

    .row {
        margin-left: 30%;
    }

    h2 {
        @include text;
        margin-top: 1%;
    }

    .web {
        margin-left: 1%;
        margin-top: 1%;
    }
}


@media (min-width:360px) and (max-width:810px) {
    #header {
        .row {
            .part_2 {
                .text_header {
                    margin-left: 15%;
                }
            }

            .part_3 {
                .nav {
                    margin-left: 50%;
                }
            }
        }
    }

    #menu {
        .nav {
            margin-left: 15%;
        }
    }

    #authorization {
        margin-top: 85%;
    }

    #footer {
        margin-top: 10%;

        .row {
            margin-left: 5%;

            h2 {
                font-size: 100%;
                margin-top: 5%;
            }

            .web {
                margin-top: 5%;
            }
        }
    }
}

@media (min-width:768px) and (max-width:1020px) {
    #header {
        .row {
            .part_1 {
                .form-inline {
                    .form-control {
                        width: 60%;
                        ;
                    }
                }
            }

            .part_2 {
                .text_header {
                    font-size: 150%;
                }
            }

            .part_3 {
                .nav {
                    margin-left: 80%;
                }
            }
        }
    }

    #menu {
        .nav {
            margin-left: 35%;
        }
    }

    #footer {
        .row {
            margin-left: 30%;
        }
    }
}

@media (min-width:1024px) and (max-width:1360px) {
    #header {
        .row {
            .part_2 {
                .text_header {
                    font-size: 190%;
                }
            }
        }
    }

    #authorization {
        margin-top: 50%;
    }

    #footer {
        margin-top: 70%;

        .row {
            h2 {
                margin-top: 2%;
            }

            .web {
                margin-top: 2%;
            }
        }
    }
}

@media (min-width:1920px) {
    #footer {
        margin-top: 20%;
    }
}